
body{
    background-color: lightgray;
    margin: 20px;
}
.content{
    display: block;
    margin-left: 60px;
  
}
#flag_heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    padding-top: 35px;
}
article{
    display: flex;
    flex-direction: column;
}
.cap{
 
    width: 250px;
    text-align: center;
    margin-top: 15px;
    padding-top:  10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.flags{
    flex: 100%;
    width: 100%;

}
#chadd{
    display: flex;
    flex-direction: row;
}
#Bulgaria_White{
    width : 250px;
    height: 50px;
    background-color: white;
}
#Bulgaria_Green{
    width : 250px;
    height: 50px;
    background-color: #40916f;
}
#Bulgaria_Red{
    width : 250px;
    height: 50px;
    background-color:#cf1313;
}
#Chad_Blue{
    width : 83.33px;
    height: 152px;
    background-color: #1b0d61;
}
#Chad_Yellow{
    width : 83.33px;
    height: 152px;
    background-color: #ffcb1f;
}
#Chad_Red{
    width : 83.33px;
    height: 152px;
    background-color: #ba1414;
}


#Costarica_White{
    width : 250px;
    height: 25px;
    background-color: white;
}
#Costarica_Red{
    width : 250px;
    height: 50px;
    background-color: #cc182a;
}
#Costarica_Blue{
    width : 250px;
    height: 25px;
    background-color:#0c2875;
    }
#Gambia_Red{
    width : 250px;
    height: 50px;
    background-color: #ed3e3e;
}
#Gambia_White{
    width : 250px;
    height: 7.5px;
    background-color: white;
}
#Gambia_Blue{
    width : 250px;
    height: 35px;
    background-color: #3238a6;
}
#Gambia_Green{
    width : 250px;
    height: 50px;
    background-color: #358c47;
}
   
#circlee{
    background:#a3001b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    vertical-align: center;
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;

}
#Japan_White{
    width : 250px;
    height: 150px;
    background-color: white;
    align-items: center;
    align-content: center;
    text-align: center;
}

#Mad_White{
    width : 83.33px;
    height: 150px;
    background-color: white;
}
#Mad_Orange{
    width : 166.67px;
    height: 75px;
    background-color: #e32a00;
}
#Mad_Green{
    width : 166.67px;
    height: 75px;
    background-color: #005e1f;
}
#madd{
    display: flex;
    flex-direction: row;
}
#mad2{
    display: flex;
    flex-direction: column;
}
#Uae_Burgundy{
    width : 62.5px;
    height: 150px;
    background-color: #7d0c0c;
}
#Uae_Green{
    width : 187.5px;
    height: 50px;
    background-color: #013d13;
}
#Uae_White{
    width : 187.5px;
    height: 50px;
    background-color: white;
}
#Uae_Black{
    width : 187.5px;
    height: 50px;
    background-color: black;
}
#uaee{
    display: flex;
    flex-direction: row;
}
#uae2{
    display: flex;
    flex-direction: column;
}
#Yemen_Red{
    width : 250px;
    height: 50px;
    background-color: #f03030;
}
#Yemen_White{
    width : 250px;
    height: 50px;
    background-color: white;
}
#Yemen_Black{
    width : 250px;
    height: 50px;
    background-color: Black;
}
#guineaa{
    display: flex;
    flex-direction: row;
}
#Guinea_Red{
    width : 83.33px;
    height: 152px;
    background-color: #b80707;
}

#Guinea_Yellow{
    width : 83.33px;
    height: 152px;
    background-color: #ffdd00;
}

#Guinea_Green{
    width : 83.33px;
    height: 152px;
    background-color: #48784c;
}

#Germany_Black{
    width : 250px;
    height: 50px;
    background-color: black;   
}

#Germany_Red{
    width : 250px;
    height: 50px;
    background-color: #ff2200;   
}

#Germany_Yellow{
    width : 250px;
    height: 50px;
    background-color: #ffc800;   
}

#Mauritius_Red{
    width : 250px;
    height: 37.5px;
    background-color: #f52c2c;   
}
#Mauritius_Blue{
    width : 250px;
    height: 37.5px;
    background-color: #020766;   
}
#Mauritius_Yellow{
    width : 250px;
    height: 37.5px;
    background-color: #ffd505;   
}
#Mauritius_Green{
    width : 250px;
    height: 37.5px;
    background-color: #048a1f;   
}
#Ukraine_Blue{
    width: 250px;
    height: 75px;
    background-color: #195eb3;
}

#Ukraine_Yellow{
    width: 250px;
    height: 75px;
    background-color: #ffd230 ;
}

@media screen and (min-width: 900px) {

    .flags{
        height: 180px;
        width: 30%;
        margin-left: 1.6667%;
        margin-right: 1.6667%;
        display: inline;
        float: left;
        margin-bottom: 40px;
    
    }

}

