@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.navbar-brand {
  border: none;
}
.spec2 {
  padding-left: 3px;
}

.spec1 {
  padding-right: 3px;
}

.logosec:hover {
  transform: skewX(-7deg);
}

#sec_pic {
  position: relative;
  text-align: center;
  color: white;
}

#hi {
  font-size: 9vw;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 100%;
}

.bg-overlayspec {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/IMG_82072.HEIC);
  /* opacity: 1; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  z-index: -1;
}

#chevron {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  margin-top: 270px;
  height: 62px;
  width: 100%;
}
#chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
#chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
}

@media screen and (min-width: 768px) {
  #hi {
    font-size: 65px;
  }
  .descsimp {
    font-size: 42px;
  }
  #secheader #cardheading #linkhead {
    font-size: 32px;
  }
  #seccontent #cardcontent {
    font-size: 20px;
  }
  #abtme {
    font-size: 60px;
  }
  #projlink {
    font-size: 28px;
  }
  #iwrite {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  #hi {
    font-size: 48px;
    line-height: 1.2em;
  }
  .descsimp {
    font-size: 26px;
  }
  #secheader #cardheading {
    font-size: 26px;
  }
  #seccontent #cardcontent {
    font-size: 18px;
  }
  #abtme {
    font-size: 32px;
  }
  #projlink #linkhead {
    font-size: 24px;
  }
  #iwrite {
    font-size: 21px;
  }
}

.descsimp {
  color: rgb(51, 51, 51);
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.sectionofphotos {
  padding: 20px;
  margin-top: 20px;
}

.sectionofdiff {
  padding: 20px;
  margin-top: 20px;
}
#secheader {
  font-weight: 700;
  letter-spacing: 1.4px;
  color: rgb(39, 33, 33);
  text-align: center;
}

#seccontent {
  color: rgb(51, 51, 51);
  font-weight: 400;
}

#seccontent a {
  color: #e74343;
  text-decoration: none;
  text-decoration-color: rgb(231, 67, 67);
}

#seccontent a:hover {
  color: rgb(231, 107, 107);
  text-decoration: none;
  text-decoration-color: rgb(231, 87, 87);
}
.secbtn {
  background-color: #e45757;
  color: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.secbtn:hover {
  background-color: #e45757;
  color: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#imgdiff {
  max-width: 100%;
  height: auto;
  vertical-align: center;
  align-self: center;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 4px;
  color: black;
  background-color: black;
}
.carousel-indicators {
  padding-top: 200px;
}

#specc3 {
  margin-top: 40px;
}

#specc4 {
  margin-top: 75px;
}

#car {
  padding-left: 30px;
}

.iconn {
  align-self: left;
  align-content: left;
  margin-right: 90px;
}

.buttontxt {
  align-content: center;
  align-self: center;
  margin-right: 70px;
}

.iconn2 {
  align-self: left;
  align-content: left;
  margin-right: 50px;
}

.buttontxt2 {
  align-content: center;
  align-self: center;
  margin-right: 35px;
}
#cardss {
  margin-top: 30px;
}

#cardimg {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  align-self: center;
  max-width: 100%;
}
#car {
  margin-top: 40px;
}

#cardheading {
  color: rgb(39, 33, 33);
  font-weight: 700;
}

#cardcontent {
  color: rgb(51, 51, 51);
  font-weight: 400;
}

#aut {
  color: #e74343;
  text-decoration: none;
  text-decoration-color: rgb(231, 67, 67);
}

#aut:hover {
  color: rgb(231, 107, 107);
  text-decoration: none;
  text-decoration-color: rgb(231, 87, 87);
}

#footersec {
  position: relative;
  text-align: center;
  color: white;
}
.bg-overlayspec4 {
  background: conic-gradient(
      rgba(0, 0, 0, 0.671),
      rgba(0, 0, 0, 0.671),
      rgba(3, 68, 12, 0.59),
      rgba(0, 0, 0, 0.671),
      rgba(0, 0, 0, 0.671)
    ),
    url(../images/leaf.jpg);
  /* opacity: 1; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: rgba(255, 255, 255, 0.87);
  height: 250px;
  z-index: 1;
  width: 75%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}
#chevron4 {
  position: absolute;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 190px;
  margin-right: 40px;
  height: 62px;
  width: 100%;
  z-index: -1;
}
#chevron4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgb(27, 37, 47);
  transform: skew(0deg, 6deg);
}
#chevron4:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgb(27, 37, 47);
  transform: skew(0deg, -6deg);
}

#subForm {
  display: inline flex;
  margin: 20px;
}

#forEmail {
  border: rgb(129, 135, 145) solid 1px;
  color: rgb(55, 58, 60);
  font-size: 16px;
  flex-grow: 1;
  display: block;
  align-self: center;
  width: 80%;
  padding: 6px 16px;
}

.iconn3 {
  align-self: left;
  align-content: left;
  margin-right: 20px;
}

.buttontxt3 {
  align-content: center;
  align-self: center;
  margin-right: 5px;
}

#subHeader {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

#subbtn {
  background-color: #e45757;
  color: white;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#subbtn:hover {
  background-color: #e45757;
  color: white;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

#unsub {
  margin-bottom: 30px;
}

#sub {
  vertical-align: center;
}
#copyryt {
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

#foot {
  color: white;
  background-color: rgb(27, 37, 47);
  align-self: center;
}
#widgetcont {
  display: flex;
  align-content: flex-start;
  font-size: 24px;
  font-weight: 400;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: left;
  list-style-type: none;
}

#widgetcont li {
  padding-left: 25px;
  padding-right: 25px;
}

#widgetcont a {
  color: white;
}

#widgetcont a:hover {
  color: #fcdb03;
}

.dk {
  width: 100%;
}
#footersec2 {
  position: relative;
  text-align: center;
  color: white;
}
.hrr {
  margin-bottom: 1800px;
  margin-left: 0;
  padding: 0;
  max-width: 100%;
}
#abtme {
  font-size: 91px;
  color: rgb(39, 33, 33);
  font-weight: 700;
  text-align: center;
}
#abtmepar {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

blockquote {
  color: rgb(85, 89, 92);
  padding-left: 20px;
  border-left: rgb(230, 233, 236) solid 7px;
}

#secmid {
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-left: 20px;
}
#secmid a {
  align-self: center;
  text-align: center;
  padding: 12px 24px;
  font-size: 16px;
  color: rgb(150, 150, 150);
  font-weight: 700;
}

#who {
  text-align: center;
}
#whocontent {
  padding: 10px;
}
#secabt {
  padding-left: 150px;
  padding-right: 150px;
}
#projlink {
  color: rgb(39, 33, 33);
  text-decoration: none;
  font-weight: 700;
}
#projlink:hover {
  color: #e45757;
  text-decoration: none;
  font-weight: 700;
}

.gitspec {
  margin-top: 80px;
}
#contactt {
  text-align: center;
  margin-bottom: 30px;
}
#whatt {
  margin-left: 85px;
  margin-right: 35px;
  padding: 10px;
}
#iwrite {
  text-align: center;
  font-weight: 300;
  color: rgb(51, 51, 51);
}
#searchtab {
  width: 90%;
  margin-right: 0;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 15px;
  background-color: #dedede;
  border: #dedede solid 1px;
}
#searchbtn {
  background-color: rgb(129, 138, 145);
  margin-left: 0;
  border-bottom-left-radius: 02px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#linkhead {
  color: rgb(50, 50, 50);
  font-weight: 700;
  margin-top: 25px;
}

#linkhead a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-weight: 700;
  text-align: center;
}

.iss {
  align-self: center;
  padding-left: 100px;
  margin-top: 20px;
}

.linkheadspec {
  color: rgb(50, 50, 50);
  font-weight: 700;
  margin-top: 15px;
}

#imgdiff {
  max-width: 100%;
  height: auto;
  vertical-align: center;
  align-self: center;
  padding: 0;
}

#sidebar {
  margin-top: 80px;
}

.list-group-item {
  border: none;
  color: black;
}

.list-group-item:hover {
  color: #e45757;
  text-decoration: none;
}

#toc {
  color: black;
  font-weight: 700;
}

#toc:hover {
  color: black;
  text-decoration: none;
}
